<html>

<body>
<div>
    <a href="/movement">Движение по складу</a>
</div>

<div>
    <div>Создать товар</div>
    <form method="post" action="add">
        <input type="text" name="name" placeholder="Введите имя товара" /><br>
        <input type="text" name="shortName" placeholder="Введите короткое имя"><br>
        <input type="text" name="characteristics" placeholder="Введите описание"><br><br>
        <button type="submit">Создать</button>
    </form>
    <div>Изменить товар</div>
    <form method="post" action="change">
        <input type="text" name="id" placeholder="Введите id изменяемого товара" /><br>
        <input type="text" name="name" placeholder="Введите новое имя" /><br>
        <input type="text" name="shortName" placeholder="Введите новое короткое имя" /><br>
        <input type="text" name="characteristics" placeholder="Введите характеристики" /><br><br>
        <button type="submit">Изменить</button>
    </form>
    <div>Удалить товар</div>
    <form method="post" action="del">
        <input type="text" name="id" placeholder="Введите id товара" />
        <button type="submit">Удалить</button>
    </form>
</div>
<div>Список товаров</div>
<form method="post" action="filter">
    <input type="text" name="filter" placeholder="Введите короткое имя">
    <button type="submit">Найти</button>
</form>
{{#products}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
        <i>{{shortName}}</i>
        <span>{{characteristics}}</span>
        <i>{{totalAmount}}</i>
    </div>
{{/products}}
</body>
</html>
