<html>

<body>
<div>
    <a href="/main">На главную</a>
</div>

<div>
    <div>Поступление</div>
    <form method="post" action="receipt">
        <input type="text" name="idProduct" placeholder="Введите id товара" /><br>
        <input type="text" name="date" placeholder="Введите дату"><br>
        <input type="text" name="changeInQuantity" placeholder="Введите кол-во"><br><br>
        <button type="submit">Создать поступление</button>
    </form>
    <div>Списание</div>
    <form method="post" action="departure">
        <input type="text" name="idProduct" placeholder="Введите id товара" /><br>
        <input type="text" name="date" placeholder="Введите дату"><br>
        <input type="text" name="changeInQuantity" placeholder="Введите кол-во"><br><br>
        <button type="submit">Списать</button>
    </form>
    <div>Изменить транзакцию</div>
    <form method="post" action="changeMovement">
        <input type="text" name="idMovement" placeholder="Введите id транзакции" /><br>
        <input type="text" name="id" placeholder="Введите id товара" /><br>
        <input type="text" name="date" placeholder="Введите дату"><br>
        <input type="text" name="changeInQuantity" placeholder="Введите кол-во"><br><br>
        <button type="submit">Изменить</button>
    </form>
    <div>Удалить транзакцию</div>
    <form method="post" action="delMovement">
        <input type="text" name="idMovement" placeholder="Введите id транзакции" />
        <button type="submit">Удалить</button>
    </form>
</div>
<div>Список транзакций</div>
<form method="post" action="filterMovement">
    <input type="text" name="filterMovement" placeholder="Введите id товара">
    <button type="submit">Найти</button>
</form>
{{#movements}}
    <div>
        <b>{{id}}</b>
        <span>{{product}}</span>
        <i>{{operationType}}</i>
        <span>{{date}}</span>
        <i>{{changeInQuantity}}</i>
    </div>
{{/movements}}
</body>
</html>
